# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Docker
*.env
docker-compose.override.yml
db_data/
*.dockerignore

# OS files
.DS_Store
Thumbs.db

# Misc
*.sqlite3
